Get the data from here: https://library.ucsd.edu/dc/object/bb4003017c
Need to delete the first several rows before running this notebook

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('LaJolla_TEMP_2.csv')
df = df[['YEAR', 'MONTH', 'DAY', 'SURF_TEMP_C']]
df = df.dropna()
df

       YEAR  MONTH  DAY  SURF_TEMP_C
0      1916      8   22         19.5
1      1916      8   23         19.9
2      1916      8   24         19.7
3      1916      8   25         19.7
4      1916      8   26         19.5
...     ...    ...  ...          ...
39024  2023      6   26         19.4
39025  2023      6   27         20.4
39026  2023      6   28         19.7
39027  2023      6   29         19.3
39028  2023      6   30         20.6

[37741 rows x 4 columns]

In [8]:
df.columns = ['YEAR', 'MONTH', 'DAY', 'SURFACE_TEMP']

In [9]:
df.to_csv('../data/sea_temp.csv', index=False)